h2.intro{
 font-style: italic;
 font-style: Bold;
 font-family:sans-serif;
 }

p.intro{
font-size: 30px;
color: dodgerblue;
}

img.intro{
    width: 50%;
    height: auto;
  }

span.flashy{
  color:red;
}